.home-dark-bg {
  min-height: 100vh;
  background: #13131D;
  color: #fff;
  width: 100%;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  transition: background 0.5s;
  
  & > * {
    animation: fadeInUp 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
} 